* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(71, 5, 109) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}